

* {
    box-sizing: border-box;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.image-dimentions {
    width: 50%;
    height: 50%;
    object-fit: cover;
}