@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@layer components {
   

    .form-uploader{
        @apply flex flex-col items-center
        gap-2
    }
    .drop-area{
        @apply 
        bg-white
        text-slate-500
        w-full
        h-full
        cursor-pointer
        hover:border-slate-300
        border-2 border-dashed
        rounded
        p-2
        gap-2 ;
    }


  
}